.sidebar {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (max-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (max-width: 640px) {
    flex-direction: column;
  }
}
